body{
 margin:0 ;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;

}
#clock{
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}